:root {
    --min-color:#123
}
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}  
body {
    background-color: #001;
    /* display: flex; */
}
.container {
    display: flex;
    height: 100vh;
}

/* start menu */
.img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid wheat;
    flex-shrink: 0;
}
.img-box img {
    width: 100%;
}
.menu ul li.profile {
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu ul li.profile h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.menu {
    background-color: var(--min-color);
    width: 60px;
    padding: 20px;
    overflow: hidden;
    transition: 0.3s;
}
.menu:hover {
    width: 260px;
}
ul {
    list-style: none;
    position: relative;
    height: 95%;
}
.menu ul li a {
    display: flex;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px; 
    align-items: center;
    gap: 40px;
}
.menu ul li a:hover ,
.menu ul li a.active,
.data-info .box:hover,
td:hover {
    background-color: #ffffff55;
}
.menu ul li.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.menu ul li.log-out a {
    background-color: #a00;
}
ul li a i {
    font-size: 30px;
}
.content {
    width: 100%;
    margin: 10px;
}
.content .title-info {
    background-color: rgb(13, 91, 117);
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}
.data-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.data-info .box {
    background-color: var(--min-color);
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box i {
    font-size: 40px;
}
.data-info .box .data {
    text-align: center;
}
.data-info .box .data span {
    font-size: 30px;
}
table {
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}
td,th {
    background-color: var(--min-color);
    height: 40px;
    border-radius: 8px;
}
th {
    background-color: #0080ff;
}
.price, .count {
    padding: 6px;
    border-radius: 6px;
}
.price {
    background-color: green;
}
.count {
    background-color: yellow;
    color: black;
}



/* end menu */